<h2> Update Profile </h2>
<%= form_for(@user, url: update_user_path) do |f|  %>

<%= render 'shared/error_messages' %>

<%= f.label :name, "Name", class:"marg-top" %>
<%= f.text_field :name, class:'form-control ', placeholder: "Full Name" %>
<%= f.label :email, "Email", class:"marg-top" %>
<%= f.email_field :email, class:'form-control', placeholder: 'Email' %>
<%= f.label :gender, "Gender", class:"marg-top" %>
<%= f.select :gender, options_for_select([['Male', 'Male'], ['Female', 'Female']], @user.gender), {}, class:"form-control" %>
<%= f.label :dob, "Birthday", class:"marg-top" %>
<%=f.date_field :dob, class:"form-control", value: @user.dob %>

<%= f.submit "Update", class:"btn btn-primary btn-block marg-top" %>

<% end %>